.bicicletas {
  padding-top: 60px;
  padding-bottom: 80px;
}
.bicicletas h2 {
  margin-bottom: 30px;
}
.bicicletas ul {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.bicicleta-lista a {
  display: inline-block;
  margin-bottom: 10px;
}
.bicicleta-lista img {
  min-width: 300px;
  margin-bottom: 12px;
}
.bicicleta-lista h3 {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.bicicleta-lista h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
  margin-right: 8px;
  border-radius: 2px;
}
.bicicleta-lista a:hover h3::before {
  width: 18px;
}
.bicicleta-lista span::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: transparent;
  transition: width 0.2s;
  margin-right: 8px;
}
.bicicleta-lista a:hover span::before {
  width: 18px;
}
